Source: unifi-controller-it4smart
Section: misc
Priority: required
Maintainer: IT4smart GmbH <support@it4smart.eu>
Build-Depends: debhelper (>= 9)
Vcs-Git: https://github.com/IT4smart/unifi-controller-it4smart
Homepage: https://it4smart.eu
Standards-Version: 3.9.5

Package: unifi-controller-it4smart
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: unifi controller for ubiquiti devices.