[Unit]
Description=Unifi Controller
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop unifi-rpi
ExecStartPre=-/usr/bin/docker rm unifi-rpi
ExecStartPre=/usr/bin/docker pull ryansch/unifi-rpi:5.12.35-arm32v7
ExecStart=/usr/bin/docker run --name unifi-rpi --volume config:/var/lib/unifi --network host ryansch/unifi-rpi:5.12.35-arm32v7

[Install]
Alias=unifi
WantedBy=multi-user.target
